/*头部*/
#head {
    padding: 20px 0 50px 0;
    margin: 0 auto;
    background-image: url('http://www.jinono.com/img/head.PNG');
    background-repeat:no-repeat;
    background-size:100% 100%;-moz-background-size:100% 100%;
}

#logo_box {
    display: block;
    float: left;
}

#login {
    display: block;
    width: 240px;
    margin-top: 0;
    float: right;
}

#nav {
    font-family: Helvetica, Arial, sans-serif;
    height: 70px;
    margin-top: -27px;
}

.nav_title {
    margin: 0;
}

.nav_title li {
    display: inline-block;
}

.nav_title li > a {
    background: rgba(255, 255, 255, 0.04);
    color: rgba(255, 255, 255, 0.7);
    padding: 10px 25px;
    border-radius: 2px 2px 0px 0px;
}

.nav_title li > a:hover {
    background: #ffffff;
    color: #353c41
}

.nav_list {
    margin-top: 8px;
    line-height: 15px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    z-index: 1000;
    background: #ffffff;
    border-color: #ffffff;
}

.nav_list li > a {
    font-size: 13px;
    padding: 12px 18px 12px;
    float: left;
    color: rgba(53, 60, 65, 0.6);
}

.nav_list li > a:hover {
    color: #353c41
}

/*通用class*/
.text_chunk{
    width: 150px;
}

.tip_chunk{
    margin-left: 2px;
    width: 10%;
}

.column_title {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px 15px;
    background: #33649b;
    color: #ffffff;
    border-radius: 2px 2px 0px 0px;
}

.forum_table{
    background-color: #ffffff;
    margin-top: 15px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.forum_table:first-child{
    margin-top: 0;
}

.category_chunk {
    padding: 15px 10px 15px 15px;
    min-width: 55px;
}

.num_chunk {
    padding: 5px 0 0 0;
    width: 15%;
    text-align: center;
}

.theme_chunk {
    width: 50%;
    padding: 15px 10px 5px 20px;
}

.author_chunk {
    width: 14%;
    padding: 15px 15px 0 15px;
}

.author_chunk > ol {
    float: left;
    margin-left: 15px;
    max-width: 100px;
    line-height: 15px;
}

.category_chunk > span {
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    background: #dbdbdb
}

.statistics_chunk{
    width: 50%;
    text-align: right;
}

.statistics_chunk p{
    margin-top: 15px;
}

.forum_data_item{
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #ebebeb;
}

.forum_data_item:last-child{
    border-bottom: 0;
}

.theme{
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
    margin: 30px 0 15px 0;
    color: #000;
}

/*主体内容*/
#content .forum_table {
    width: 100%;
    display: table;
    table-layout: auto;
    position: relative;
    border-collapse: separate;
    border-spacing: 0;
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
}

#content .forum_data > li {
    width: 100%;
    position: relative;
    border-width: 0 0 1px 0;
    border-color: #ebebeb;
}

#content .forum_data > li:nth-child(even) {
    background: #fafafa;
}


#menu{
    width: 25%;
    padding-left: 20px;
}

#menu section {
    background-color: #e8e8e8;
    width: 100%;
}

#menu .forum_data{
    padding: 10px;
}

#menu .forum_data>li{
    margin-top: 8px;
}

#menu .forum_data>li:first-child{
    margin-top: 0;
}

#menu .member_text_chunk{
    margin-top: 18px;
}

/*详情页*/
#detail_content .author_chunk{
    text-align: center;
}

#detail_content .author_chunk img{
    margin: 10px 0 10px 0;
}

#detail_content .release_content_chunk{
    min-height: 280px;
    padding: 20px 0 20px 0;
    width: 75%;
}

#detail_content .release_content{
    min-height: 220px;
    padding-bottom: 20px;
}

#detail_content .release_content_bottom{
    border-top: 1px solid rgba(0,0,0,0.075);
    justify-content: flex-end;
    flex-wrap: wrap;
}

#detail_content .relay_comment{
    background-color: #ffffff96;
}

@media only screen and (max-width: 1210px){
    .center {
        width: calc(90%);
        margin: 0 auto;
    }

    .theme_chunk{
        width: 49%;
    }

    #menu .tip{
        display: none;
    }

    .text_chunk{
        width:auto;
    }
}

@media only screen and (max-width: 1005px) {
    /* For mobile phones: */
    #menu {
        width:auto;
        padding-left: 0;
    }

    #content{
        width: 100%;
    }

    .author_chunk{
        display: none;
    }

    .table_cell{
        display: block;
    }
}
