#head {
    padding: 15px 0 40px 0;
    margin: 0 auto;
    background-color: #353c41;
}

#logo_box {
    display: block;
    float: left;
}

#login {
    display: block;
    width: 240px;
    margin-top: 0;
    float: right;
}

#nav {
    font-family: Helvetica, Arial, sans-serif;
    top: -44px;
    position: relative;
}

.nav_title {
    padding-bottom: 64px;
}

.nav_title > li {
    display: inline-block;
}

.nav_title > li > a {
    background: rgba(255, 255, 255, 0.04);
    color: rgba(255, 255, 255, 0.7);
    padding: 9px 25px;
    border-radius: 2px 2px 0px 0px;
}

.nav_title > li > a:hover {
    background: #ffffff;
    color: #353c41
}

.nav_list {
    position: absolute;
    line-height: 15px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    z-index: 1000;
    background: #ffffff;
    border-color: #ffffff;
}

.nav_list li > a {
    font-size: 13px;
    padding: 12px 18px 12px;
    float: left;
    color: rgba(53, 60, 65, 0.6);
}

.nav_list li > a:hover {
    color: #353c41
}

#content .forum_table {
    width: 100%;
    display: table;
    table-layout: auto;
    position: relative;
    border-collapse: separate;
    border-spacing: 0;
    list-style: none;
    padding: 0;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin: 0 0 15px 0;
}

#content .forum_data > li {
    width: 100%;
    position: relative;
    border-width: 0 0 1px 0;
    border-color: #ebebeb;
}

#content .forum_data > li:nth-child(even) {
    background: #fafafa;
}

.column_title {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px 15px;
    background: #33649b;
    color: #ffffff;
    border-radius: 2px 2px 0px 0px;
}

.category_chunk {
    padding: 15px 10px 15px 15px;
    min-width: 55px;
}

.num_chunk {
    padding: 5px 0 0 0;
    width: 15%;
    text-align: center;
}

.theme_chunk {
    width: 50%;
    padding: 15px 10px 5px 20px;
}

.author_chunk {
    width: 15%;
    padding: 15px 15px 0 15px;
}

.author_chunk > ol {
    float: left;
    margin-left: 15px;
    max-width: 100px;
    line-height: 15px;
}

.category_chunk > span {
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    background: #dbdbdb
}

#menu{
    width: 25%;
    padding-left: 20px;
}

#menu section {
    background-color: #ffffff;
    width: 100%;
}

#menu .forum_data{
    padding: 10px;
}

.text_chunk{
    width: 150px;
}

.tip_chunk{
    margin-left: 5px;
    width: 10%;
}

.forum_data_item{
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #ebebeb;
}

.forum_data_item:last-child{
    border-bottom: 0;
}

@media only screen and (max-width: 1210px){
    .center {
        width: calc(90%);
        margin: 0 auto;
    }

    .theme_chunk{
        width: 49%;
    }

    #menu .tip{
        display: none;
    }

    .text_chunk{
        width:auto;
    }
}

@media only screen and (max-width: 1005px) {
    /* For mobile phones: */
    #menu {
        display: none;
    }

    #content{
        width: 100%;
    }

    .author_chunk{
        display: none;
    }

    .table_cell{
        display: block;
    }
}
