html, body {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e8e8e8;
    color: #636b6f;
    font-weight: 200;
    height: 100%;
    padding: 0;
    margin: 0;
}

ul{
    padding: 0;
}

ol{
    padding: 0;
}

ul li {
    list-style-type: none;
}

a {
    font-size: 13px;
    color: #33649b;
    text-decoration: none;
}

p{
    line-height: 1.6;
    color: #353c41;
    font-size: 13px;
    margin: 5px 0 5px 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

span{
    margin: 0;
    font-size:12px ;
    color: #8d9aa6;
}

.table_cell{
    display: table-cell;
}

.p_large{
    color: #353c41;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.3;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.p_default{
    text-align: center;
    color: #8d9aa6;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.a_title{
    color: #33649b;
    font-size: 18px;
    line-height: 20px;
    word-wrap: break-word;
    display: block;
}

.a_title_small{
    color: #33649b;
    font-size: 14px;
    line-height: 20px;
    word-wrap: break-word;
    display: block;
}

.avatar{
    width: 34px;
    height: 34px;
    border-radius: 17px;
}

.name{
    font-family: Helvetica, Arial, sans-serif;
    color: #4d8496;
}

.clear_both {
    clear: both;
}

.chunk{
    float: left;
}

.center {
    max-width: 1210px;
    min-width: 768px;
    margin: 0 auto;
}

.tip{
    padding: 5px 10px;
    border-radius: 3px;
    background: #353c41;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    line-height: 15px;
    color: #ffffff;
    margin-bottom: 3px;
}

.tip:after{
    border-color: transparent #353c41 transparent transparent;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    margin-left: -20px;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-width: 7px 5px;
    border-style: solid;
}