html, body {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e8e8e8;
    color: #636b6f;
    font-weight: 200;
    height: 100%;
    padding: 0;
    margin: 0;
}

ul{
    padding: 0;
}

ol{
    padding: 0;
}

ul li {
    list-style-type: none;
}

.letter_color_default{
    color: #8d9aa6;
}

.letter_color_normal{
    color: #353c41;
}

.letter_color_skip{
    color: #33649b;
}

.letter_color_strong{
    color: #636b6f;
}

.letter_color_black{
    color: #353c41;
}

.tag_hover_color{
    background: #3e4148;
    color: white!important;
}

a {
    font-size: 13px;
    text-decoration: none;
}

p{
    line-height: 1.6;
    font-size: 13px;
    margin: 5px 0 5px 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

span{
    margin: 0;
    font-size:12px ;
}

.table_cell{
    display: table-cell;
}

.p_large{
    font-size: 18px;
    line-height: 1.3;
}

.a_title{
    font-size: 18px;
    line-height: 20px;
    word-wrap: break-word;
    display: block;
}

.a_title_small{
    font-size: 14px;
    line-height: 20px;
    word-wrap: break-word;
    display: block;
}

.avatar{
    width: 34px;
    height: 34px;
    border-radius: 17px;
}

.avatar_large{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.avatar_x_large{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.name{
    font-family: Helvetica, Arial, sans-serif;
}

.strong_name{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.clear_both {
    clear: both;
}

.chunk{
    float: left;
}

.center {
    width: 1210px;
    margin: 0 auto;
}

h1{
    font-family: "Pictorial";
    font-weight: normal;
    margin: 0 0 0 0.2em;
    padding: 0;
    font-size: 6em;
    display: inline-block;
    color: #000000;
}

.tip{
    padding: 5px 10px;
    border-radius: 3px;
    background: #353c41;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    line-height: 15px;
    color: #ffffff;
    margin-bottom: 3px;
}

.tip:after{
    border-color: transparent #353c41 transparent transparent;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    margin-left: -20px;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-width: 7px 5px;
    border-style: solid;
}

.level_tag{
    font-size: 10px;
    color: #5a5a5a;
    display: inline-block;
}

.level_tag:before{
    content: '\f111';
    font-family: 'FontAwesome';
}

.fa{
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

/*分页条*/
.page_bar{
    line-height: 1;
    background: #ffffff;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.05);
}

.page_list{
    padding: 4px 10px 0px 5px;
    margin: 0;
    border-radius: 30px;
    display: inline-block;
    line-height: 26px;
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
}

.page_list>li{
    float: left;
}

.page_button{
    padding: 0 10px;
    border-radius: 2px;
    font-weight: bold;
    text-align: center;
    color: #414141;
    vertical-align: middle;
    text-decoration: none;
    line-height: 26px;
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
}

.page_button:hover{
    background-color: #f0f0f0;
    cursor: pointer;
}

/*翻页框*/
.ips_menu_box{
    position: relative;
}

.ips_menu{
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
    border-radius: 3px;
    z-index: 10000;
    width: 200px;
    position: absolute;
    left: -51px;
    top: 31px;
    opacity: 1;
}

.ips_menu:before{
    border-color: transparent transparent #ebebeb transparent;
    left: 50%;
    margin-left: -16px;
    margin-top: -1px;
    bottom: 100%;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px;
    display: block !important;
}

.ips_menu:after{
    border-color: transparent transparent #fff transparent;
    left: 50%;
    margin-left: -15px;
    bottom: 100%;
    border-width: 15px;
    z-index: 200;
}

.ips_menu ul{
    padding: 10px;
}

.ips_menu li:first-child{
    margin-bottom: 15px
}

.ips_menu input{
    border-width: 1px;
    border-style: solid;
    border-color: rgba(53, 60, 65, 0.83);
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    background: #3e4148;
    color: #ffffff;
}

.ips_menu li:first-child input{
    background-color: #ffffff;
    color:black;
    width: 91%;
}

/*标签*/
.ips_tag{
    width: 60px;
    background: #353c41;
    color: #fff !important;
    font-size: 10px;
    vertical-align: middle;
    line-height: 18px;
    height: 18px;
    padding: 0 7px;
    margin: 0 3px 0 8px;
    display: block;
    position: relative;
    letter-spacing: 0;
    border-radius: 0px 4px 4px 0;
}

.ips_tag:before{
    left: -8px;
    border-radius: 10px 9px 10px 1px;
    border-color: transparent transparent #353c41 #353c41;
    display: block;
    position: absolute;
    font-size: 28px;
    line-height: 30px;
    overflow: hidden;
    text-shadow: none;
    content: '';
    top: 0;
    bottom: 0;
    width: 0px;
    border-style: solid;
    border-width: 9px;
    -webkit-transform: scaleX(0.666667) rotate(45deg);
    -moz-transform: scaleX(0.666667) rotate(45deg);
    -ms-transform: scaleX(0.666667) rotate(45deg);
    -o-transform: scaleX(0.666667) rotate(45deg);
    transform: scaleX(0.666667) rotate(45deg);
}

.ips_tag:after{
    left: -3px;
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background: #fff;
    position: absolute;
    top: 7px;
}

.ips_tag span{
    width: 100%;
    text-align: center;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ips_tag_bar{
    float: left;
    margin: 5px 0 5px 5px;
}